
.main {
    text-align: left;
    padding: 0;
    background-color: #f2f2f2;
    margin: 0;
    max-width: 400px;
  }
  
  h1 {
    color: #333;
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: none;
    text-align: left;
    color: red;
    padding: 0;
    cursor: pointer;
    margin: 0;
  }
  
  li:hover {
    background-color: none;
  }
  
  .SocialButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .Google {
      background-color: transparent;
      color: black;
      border-style: solid;
      border-color: rgb(73, 72, 72);
  }

  .Google:hover {
    background-color: transparent;
      color: black;
      border-style: solid;
      border-color: rgb(73, 72, 72);
  }

  .Facebook {
    background-color: blue;
  }

  .Facebook:hover {
    background-color: blue;
  }
  
  button {
    background-color: #4caf50;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h3 {
    display: block;
    margin-top: 10px;
    color: black;
    text-align: center;
  }
  